# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
.env

# Uploaded resumes
uploads/

# Logs
*.log

# Database files
*.db

# System files
.DS_Store
Thumbs.db

# Compressed files
*.rar
*.zip
